button,
.button {
	@apply font-sans text-18/24 font-400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: 400;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: inherit;

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&.loading {
			cursor: wait !important;

			* {
				cursor: wait !important;
			}
		}
	}

	&.loading {
		cursor: wait !important;

		* {
			cursor: wait !important;
		}
	}

	/*
	// === Reset Overrides ===
	*/

	&.mx-a {
		margin-left: auto;
		margin-right: auto;
	}

	&.block {
		display: block;
	}

	&.border-r-0 {
		border-radius: 0;
	}

	&.text-left {
		text-align: left;
	}
}

@layer components {
	.button.button-primary {
		@apply text-brown bg-white px-2 uppercase tracking-wide transition-shadow duration-400 ease-appear;
		height: 48px;
		border-radius: 48px;
		font-size: 16px;
		line-height: 46px;
		border: 1px solid theme('colors.brown');

		&:hover,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 15px theme('colors.highlight');

			&:disabled,
			&.disabled {
				box-shadow: none;
			}
		}

		&.button-size-small {
			height: 32px;
			border-radius: 32px;
			font-size: 12px;
			line-height: 30px;
		}
	}

	.button.button-primary-gray {
		@apply text-brown bg-gray-medium px-2 uppercase tracking-wide transition-shadow duration-400 ease-appear;
		height: 48px;
		border-radius: 48px;
		font-size: 16px;
		line-height: 46px;
		border: 1px solid theme('colors.brown');

		&:hover,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 15px theme('colors.highlight');

			&:disabled,
			&.disabled {
				box-shadow: none;
			}
		}

		&.button-size-small {
			height: 32px;
			border-radius: 32px;
			font-size: 12px;
			line-height: 30px;
		}
	}

	.button.button-primary-brown {
		@apply text-white bg-brown px-2 uppercase tracking-wide transition-shadow duration-400 ease-appear;
		height: 48px;
		border-radius: 48px;
		font-size: 16px;
		line-height: 46px;
		border: 1px solid theme('colors.brown');

		&:hover,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 15px theme('colors.highlight');

			&:disabled,
			&.disabled {
				box-shadow: none;
			}
		}

		&.button-size-small {
			height: 32px;
			border-radius: 32px;
			font-size: 12px;
			line-height: 30px;
		}
	}

	.button.button-primary-violet {
		@apply text-brown bg-violet px-2 uppercase tracking-wide transition-shadow duration-400 ease-appear;
		height: 48px;
		border-radius: 48px;
		font-size: 16px;
		line-height: 46px;
		border: 1px solid theme('colors.brown');

		&:hover,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 15px theme('colors.highlight');

			&:disabled,
			&.disabled {
				box-shadow: none;
			}
		}

		&.button-size-small {
			height: 32px;
			border-radius: 32px;
			font-size: 12px;
			line-height: 30px;
		}
	}

	.button.button-mobile-trigger {
		rect {
			transform-origin: center;
			transition: all 300ms theme('transitionTimingFunction.appear');
		}

		&.active {
			rect:first-child {
				transform: translate(-7.5px, 6.5px) rotate(45deg);
			}

			rect:nth-child(2) {
				transform: rotate(45deg);
				opacity: 0;
			}

			rect:last-child {
				transform: translate(-7.5px, -7.5px) rotate(-45deg);
			}
		}
	}

	.button.button-carousel {
		@apply w-[15px] h-[15px] rounded-full border border-solid bg-green border-brown transition-colors duration-400 ease-appear;

		&.active {
			@apply bg-white;
		}
	}

	.button.button-image-carousel {
		@apply w-5 h-5 rounded-full overflow-hidden;
		@apply bg-green border border-solid border-transparent transition-colors duration-400 ease-appear;

		&.active {
			@apply border-white;
		}

		@screen md {
			@apply w-7 h-7;
		}
	}
}
