@layer components {
	.h-hero {
		height: 100vh;
		height: 100svh;
	}
	.min-h-hero {
		min-height: 100vh;
		min-height: 100svh;
	}

	.h-hero-90 {
		height: 90vh;
		height: 90svh;
	}
	.min-h-hero-90 {
		min-height: 90vh;
		min-height: 90svh;
	}

	.hero-hole {
		box-shadow: 0 0 0 100vw theme('colors.green');
	}
}
