input,
textarea {
	@apply font-sans text-18/24 font-400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: theme('colors.black');
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	text-align: left;
	appearance: none;
	color: inherit;
	max-width: 100%;

	&::-webkit-input-placeholder {
		color: currentColor;
		opacity: 1;
	}

	&::-moz-placeholder {
		color: currentColor;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: currentColor;
		opacity: 1;
	}

	&:-moz-placeholder {
		color: currentColor;
		opacity: 1;
	}

	&:placeholder {
		color: currentColor;
		opacity: 1;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:hover {
		transition: color 9999s ease-out 9999s,
			background-color 9999s ease-out 9999s;
	}

	&:-moz-autofill,
	&:-moz-autofill-preview {
		filter: none;
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.6;

		&.cursor--loading {
			cursor: wait;
		}
	}

	&.cursor-loading,
	&.cursor-wait,
	&.loading {
		cursor: wait !important;

		* {
			cursor: wait !important;
		}
	}
}

@layer components {
	.input-lander {
		@apply text-brown px-[15px] duration-400 ease-appear transition-all;
		height: 36px;
		border-radius: 36px;
		font-size: 16px;
		line-height: 34px;
		background: theme('colors.off-white');
		border: 1px solid theme('colors.brown');

		&:focus-visible {
			outline: none;
			box-shadow: 0 0 5px theme('colors.highlight');
		}
	}

	.input-select {
		@apply text-14/14 font-serif px-2 py-half border border-solid bg-white rounded-20;
		appearance: none;
	}

	.input-subscription-option {
		position: relative;

		.input-subscription-option__input {
			@apply absolute block inset-0 z-1 cursor-pointer;

			/* Unchecked */
			+ .input-subscription-option__indicator-container {
				@apply bg-gray-medium;

				.input-subscription-option__indicator {
					position: relative;
					display: block;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					border: 1px solid;

					&:after {
						content: '';
						display: block;
						width: 14px;
						height: 14px;
						position: absolute;
						top: 1px;
						left: 1px;
						border-radius: 50%;
						background: theme('colors.brown');
						transform: scale(0);
						transition: transform 200ms
							theme('transitionTimingFunction.appear');
					}
				}

				.input-subscription-option__label {
					opacity: 0.5;
				}

				.input-subscription-option__details {
					display: none;
				}
			}

			&:checked {
				+ .input-subscription-option__indicator-container {
					@apply bg-gray-light;

					.input-subscription-option__indicator:after {
						transform: scale(1);
					}

					.input-subscription-option__label {
						opacity: 1;
					}

					.input-subscription-option__details {
						display: block;
					}
				}
			}
		}
	}

	.input-footer-newsletter {
		@apply text-brown font-serif px-1 duration-400 ease-appear transition-all;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		background: theme('colors.gray-medium');

		@screen md {
			height: 46px;
			line-height: 46px;
			font-size: 20px;
		}

		&:focus-visible {
			outline: none;
			box-shadow: 0 0 5px theme('colors.highlight');
		}
	}
}
