@layer components {
	.ticker {
		animation: ticker 5s linear infinite;
	}

	.ticker.ticker-slow {
		animation: ticker 10s linear infinite;
	}

	.ticker.ticker-extra-slow {
		animation: ticker 30s linear infinite;
	}

	.ticker-container:hover .ticker {
		animation-play-state: paused;
	}
}

@keyframes ticker {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
