/*
// === Reset ===
*/

html,
body {
	@apply bg-off-white text-brown font-sans text-18/24 font-400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
// === Selection ===
*/

* {
	&::-moz-selection {
		background-color: theme('colors.brown');
		color: theme('colors.off-white');
	}
	&::selection {
		background-color: theme('colors.brown');
		color: theme('colors.off-white');
	}
}

.no-focus:focus {
	outline: none;
}

/*
// === Utilities ===
*/

.line-break {
	ol,
	ul,
	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ol,
		ul {
			margin-bottom: 0;
		}
	}
}
