{% schema %}
{
	"name": "FAQ List",
	"settings": [],
    "blocks": [
        {
            "type": "question",
            "name": "Question",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "question",
                    "label": "Question"
                }
            ]
        }
    ],
    "presets": [{
		"name": "FAQ List",
		"category": "Page"
	}]
}
{% endschema %}

<div class="px-container-mobile md:px-container-desktop mt-1 md:mt-4 mb-10 md:mb-14">
    <div class="max-w-grid mx-auto">
        <div class="grid grid-cols-6 md:grid-cols-12 gap-x-gutter-mobile md:gap-x-gutter-desktop">
            <div class="col-span-6 md:col-span-10 md:col-start-2 lg:col-span-8 lg:col-start-3">
                {% for block in section.blocks %}
                    <div
                        data-component="drawer"
                        class="border-b border-solid border-green">
                        <button
                            class="py-2 w-full flex justify-between items-center">
                            <div class="text-20/20 md:text-24/24 font-serif">
                                {{ block.settings.title }}
                            </div>
                            <img
                                src="{{ 'icon-arrow-drawer.svg' | asset_url }}"
                                alt="Arrow"
                                class="block w-[17px] h-[9px] drawer-indicator"
                                {% if forloop.first %}
                                    style="transform: rotate(180deg);"
                                {% endif %}
                            />
                        </button>
                        <div
                            {% unless forloop.first %}
                                style="display: none;"
                            {% endunless %}
                            class="drawer-content overflow-hidden">
                            <div class="rich-text line-break pb-2">
                                {{ block.settings.question }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
