<div class="px-container-mobile md:px-container-desktop mt-6 md:mt-10 mb-10 md:mb-14">
    <div class="flex flex-col gap-3 md:gap-6">
        <div class="text-center mx-auto flex flex-col items-center justify-center gap-2 md:gap-3">
            <h1 class="rich-text font-serif rich-text-bold-sans-regular text-36/36 md:text-70/70">
                {{ page.title  }}
            </h1>
        </div>

        <div class="max-w-grid mx-auto">
            <div class="grid grid-cols-6 md:grid-cols-12 gap-x-gutter-mobile md:gap-x-gutter-desktop">
                <div class="col-span-6 md:col-span-10 md:col-start-2 lg:col-span-8 lg:col-start-3">
                    <div class="rich-text line-break">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>